body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}  
header{
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}
.navbar ul{
    background-color: #33b864;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 20px 40px 20px;
    display: block;
    text-align: center;
    font-family: cube;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: hsl(120, 100%, 40%);
    font-size: 1.2em;
}
main{
    text-align: left;
    font-family: body;
    margin: 10px;
}
footer{
    margin-top: auto;
    background-color: hsl(39, 100%, 60%);
    padding: 10px;
    text-align: center;
}
@font-face {
    font-family: cube;
    src: url(fonts/Rubik-VariableFont_wght.ttf)
}
@font-face {
    font-family: body;
    src: url(fonts/Lexend-VariableFont_wght.ttf);
}
h1{
    text-align: left;
}
form{
    text-align: center;
}

